################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Client Side/ClientSide-Kahreedo.pk/.vs/ClientSide-Kahreedo.pk
/Client Side/ClientSide-Kahreedo.pk/Kahreedo/.vs
